global
   log /var/log/haproxy.log local0
   log /var/log/haproxy.log local1 notice
   chroot /var/lib/haproxy
   stats timeout 30s
   user haproxy
   group haproxy
   daemon
defaults
log global
mode http
option httplog
option dontlognull
timeout connect 5000
timeout client 50000
timeout server 50000

#frontend
#---------------------------------
frontend http_front
bind *:80
stats uri /haproxy?stats
default_backend http_back

#round robin balancing backend http
#-----------------------------------
backend http_back
balance roundrobin
#balance leastconn
mode http
server www1 10.0.16.21:8080 check    # ip_address_of_1st_centos_webserver
server www2 10.0.16.22:8080 check    # ip_address_of_2nd_centos_webserver
